@use "@globals" as *;

.main {
    display: flex;
    flex-direction: column;
    width: 100dvw;
    min-height: 100dvh;
    padding: 2em;
    margin-inline: auto;
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    background-color: $white;

    a {
        color: $black;
    }
}
