html {
    font-family: "Noto Sans JP", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    line-height: 1.5;
    background-color: white;
    color: black;
}

* {
    box-sizing: border-box;
}
