html {
    font-family: "Toppan Bunkyu Gothic", "BIZ UDPゴシック", sans-serif;
}

body {
    margin: 0 auto;
    width: 100%;
    padding: 1rem;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}
