---
import BaseLayout from "@layouts/BaseLayout.astro";
const pageTitle = "404 - Page Not Found";
---

<BaseLayout pageTitle={pageTitle}>
    <h1>{pageTitle}</h1>
    <a href="/">Back to top page</a>
</BaseLayout>
