<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} >
        <title>iokira - homepage</title>
    </head>
    <body>
        <h1>僕について</h1>
        <h2>iokira って誰？<h2>
        <p>プログラマです。コーヒーが好き。</p>
        <h2>各種 SNS アカウント</h2>
        <ul>
            <li><a href="https://github.com/iokira">GitHub</a></li>
            <li><a href="https://x.com/iokira_jp">X (Twitter)</a></li>
        </ul>
        <h2>メールアドレス</h2>
        <p>dotfiles に .gitconfig を載せているので、そちらをご参照ください</p>
    </body>
</html>
