---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "僕について";

const accounts = [
{ link: "https://github.com/iokira", name: "GitHub" },
{ link: "https://x.com/iokira_jp", name: "X (Twitter)"}
];
---
<BaseLayout pageTitle={pageTitle}>
    <h2>iokira って誰？</h2>
    <p>プログラマです。コーヒーが好き。</p>
    <h2>各種 SNS アカウント</h2>
    <ul>
        {accounts.map((account) => <li><a href={account.link} target="_blank">{account.name}</a></li>)}
    </ul>
    <h2>メールアドレス</h2>
    <p>dotfiles に .gitconfig を載せているので、そちらをご参照ください</p>
</BaseLayout>
