---
import BaseLayout from "@layouts/BaseLayout.astro";
import BlogPostItem from "@components/BlogPostItem.astro";
const allPosts = await Astro.glob("@pages/posts/*.md");
const pageTitle = "ブログ";
---

<BaseLayout pageTitle={pageTitle}>
    <h1>{pageTitle}</h1>
    <h2>
        美味しかったコーヒーや、面白かった本、勉強したことについて書く日記。
    </h2>
    <ol class="blogPostItems">
        {
            allPosts.map((post) => (
                <li>
                    <BlogPostItem post={post} />
                </li>
            ))
        }
    </ol>
</BaseLayout>
<style lang="scss">
    .blogPostItems {
        list-style: none;
        padding-inline-start: 0;
    }
</style>
