---
const pageTitle = "ブログ";
---
<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} >
        <title>{pageTitle}</title>
    </head>
    <body>
        <a href="/">{pageTitle}</a>
        <a href="/about">僕について</a>
        <a href="/blog">ブログ</a>
        <h1>ブログ</h1>
        <p>美味しかったコーヒー豆や、面白かった本、勉強したことについて書きます。</p>
    </body>
</html>
