---
import BaseLayout from '@layouts/BaseLayout.astro';
import BlogPostItem from '@components/BlogPostItem.astro';
const allPosts = await Astro.glob('@pages/posts/*.md');
const pageTitle = "ブログ";
---
<BaseLayout pageTitle={pageTitle}>
    <h1>{pageTitle}</h1>
    <h2>美味しかったコーヒーや、面白かった本、勉強したことについて書く日記。</h2>
    <p><a href="/tags">タグ一覧</a></p>
    <h2>記事一覧</h2>
    <ul>
        {allPosts.map((post) => <li>
            <BlogPostItem post={post} />
        </li>)}
    </ul>
</BaseLayout>
