---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "iokira - home page";
---
<BaseLayout pageTitle={pageTitle}>
    <h1>{pageTitle}</h1>
    <h2>吉良 伊織 (Kira Iori)</h2>
</BaseLayout>
