<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} >
        <title>iokira - homepage</title>
    </head>
    <body>
        <h1>iokira</h1>
        <h2>吉良 伊織 (Kira Iori)</h2>
    </body>
</html>
