@use "@globals" as *;

.header {
    display: flex;
    flex-direction: row;
    gap: 1em;

    @include m('sm') {
      flex-direction: column;
    }

    .menu {
      display: flex;
      flex-direction: row;
      gap: 1em;

      @include m('sm') {
        flex-direction: column;
      }
    }

    .menu-button {
      position: absolute;
      right: 1em;
      display: none;
      width: 50px;
      height: 50px;
      overflow: hidden;
      font-size: 2em;
      text-align: center;
      text-decoration: none;
      background-color: $white;
      border: none;

      &:active {
        transform: scale(0.9);
      }

      @include m('sm') {
        display: block;
      }
    }
}
