---
import type { MarkdownInstance } from "astro";

type Props = {
    post: MarkdownInstance<Record<string, any>>;
};
const { post } = Astro.props;

type Tag = string;
---

<a href={post.url}>{post.frontmatter.title}</a>
<ol class="blogPostItemTags">
    {
        post.frontmatter.tags.map((tag: Tag) => (
            <li class="blogPostItemTag">
                <a href={`/tags/${tag}`}>{tag}</a>
            </li>
        ))
    }
</ol>
<style>
    .blogPostItemTags {
        list-style-type: none;
        padding-inline-start: 0;
    }

    .blogPostItemTag {
        display: inline-block;
    }

    .blogPostItemTag::after {
        display: inline-block;
        content: ",";
    }

    .blogPostItemTag:last-child::after {
        display: none;
    }
</style>
