---
import type { MarkdownInstance } from "astro";

type Props = {
    post: MarkdownInstance<Record<string, any>>;
};
const { post } = Astro.props;
---

<h3 class="blogTitle"><a href={post.url}>{post.frontmatter.title}</a></h3>
<p class="blogDescription">{post.frontmatter.description}</p>
<style lang="scss">
    .blogTitle {
        a {
            color: inherit;
        }
    }
</style>
