<footer>
    <p>
        Hosted on GitHub Pages. Source: <a
            href="https://github.com/iokira/iokira.github.io"
            >iokira/iokira.net</a>
    </p>
    <p>&copy;iokira 2025</p>
</footer>
<style>
    footer {
        a {
            color: inherit;
        }
        padding-inline: 2rem;
    }
</style>
