<nav class="nav-links">
    <a href="/">iokira.net</a>
    <a href="/about">僕について</a>
    <a href="/blog">ブログ</a>
</nav>
<style>
    .nav-links {
        width: 100%;
        display: block;
    }

    .nav-links a {
        text-decoration: none;
        color: black;
        font-size: 1.2rem;
    }
</style>
