<nav class="nav-links">
    <a href="/">iokira.net</a>
    <a href="/about">about</a>
    <a href="/blog">blog</a>
</nav>
<style lang="scss">
    .nav-links {
        width: 100%;
        display: flex;
        padding-block: 0.5rem;
        gap: 1rem;

        a {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
</style>
